################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/PSFiles/FEZ Manuelle Alarme/FEZAlarmLogs
/PSFiles/FEZ Manuelle Alarme/TestDatei.txt
/PSFiles/FEZ Manuelle Alarme/Neues Textdokument.txt
/PSFiles/FEZ Manuelle Alarme/VG-HUMI-DIVERA-FEZ-Alarm.exe
